@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>212.376.5300</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>Telepathy</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@ezrentsys.com">Support@ezrentsys.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@ezrentsys.com">Marketing@ezrentsys.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@ezrentsys.com">General@ezrentsys.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        6 West 14th Street<br />
        New York, NY  10011
    </p>
</section>